<persistence-unit name="myJpaPersistenceUnit">
    <properties>
        <!-- Enable L2 Cache -->
        <property name="javax.persistence.sharedCache.mode" value="ENABLE_SELECTIVE"/>

        <!-- Hibernate-specific cache properties -->
        <property name="hibernate.cache.region.factory_class"
                  value="org.hibernate.cache.ehcache.EhCacheRegionFactory"/>
        <property name="hibernate.cache.use_second_level_cache" value="true"/>
        <property name="hibernate.cache.use_query_cache" value="true"/>
        <property name="hibernate.generate_statistics" value="true"/>

        <!-- hibernate cache -->

        <property name="cache.use_query_cache">true</property>
        <property name="cache.use_second_level_cache">false</property>
        <property name="cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <property name="connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
    </properties>
</persistence-unit>